*{
    padding: 0;
    margin: 0;
    background-color: #F2AA4CFF;
    font-family: "Courier New", sans-serif;
}

.noSelect{
    user-select: none;
}

#heading {
    text-align: center;
    font-family: "Courier New", sans-serif;
    font-size: 37px;
    padding-top: 30px;
}

#sidebar {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #101820FF;
    overflow-x: hidden;
    padding-top: 10%;

}

#resources {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #101820FF;
    padding-top: 4%;
    text-align: center;




}

#sidebar div {

   display: block;
    background-color: inherit;
    color: #F2AA4CFF;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.2s;
    font-weight: bold;
    font-size: 18px;
    cursor: default;
    user-select: none;


}

#sidebar div:hover {
    background-color: #F2AA4CFF;
    color: #101820FF;

}



.tab {
    display: none;
    width: 70%;
    float: left;
    margin-left: 20%;
    margin-top: 6%;
}

.actionButton {
    display: inline-block;
    margin: 10px;
    background-color: #101820FF;
    padding: 7px 15px;
    width: 180px;
    outline: none;
    border: 2px solid #101820FF;
    color: #F2AA4CFF;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

    cursor: default;
    user-select: none;
    position: relative;




}

.actionButton:hover{
    background-color: #413838;

    color: #F2AA4C;

}



.actionButton:active{
    background-color: #413838;
    color: #bcb6ae;
    border: 2px solid #bcb6ae;

}

.actionButton .tooltip {
    visibility: hidden;
    width: 180px;
    height: 69px;

    background-color: #F2AA4CFF;
    padding: 5px 0;
    position: absolute;

    z-index: 2;
    bottom: -150%;

    margin-left: 220px;
    color: #101820FF;
    font-size: 15px;
    text-align: center;



}



.actionButton:hover .tooltip{
    visibility: visible;
    border: 2px solid #101820FF;


}



.resource {

    background-color: #101820FF;

}



#wheat {
    color: wheat;
}
#bread {
    color: #eec07b;
}

#moneySection p{
    color: gold;
    margin-bottom: 50px;
    background-color: #101820FF;

}

#moneyHeader {
    background-color: #101820FF;
    color: gold;
    padding-bottom: 20px;

}

.tooltipCost {
    font-weight: bolder;

}

#staffList {
    margin-top: 220%;
    color: #eec07b;



}

#staffList h3{
    background-color: #101820FF;
    color: gold;
    padding-bottom: 25px;


}

.staffCount {
    background-color: #101820FF;
}

.tabHeading {
    font-weight: bolder;
    padding-bottom: 20px;
}







